aws/.terraform
aws/.terraform.lock.hcl
aws/.terraform.tfstate.lock.info
aws/credentials
aws/lambda-functions/sentim-batch.zip
aws/lambda-functions/sentim-inference-textblob.zip
aws/lambda-functions/sentim-inference.zip
aws/lambda-functions/sentim-preprocess.zip
aws/lambda-functions/sentim-reduce.zip
aws/terraform.tfstate
aws/terraform.tfstate.backup
