*/**/node_modules
env
credentials.properties
xAFCL.jar
py-functions-amazon/.terraform
py-functions-amazon/.terraform.lock.hcl
py-functions-amazon/.terraform.tfstate.lock.info
py-functions-amazon/credentials
py-functions-amazon/sentim-batch.zip
py-functions-amazon/sentim-inference-textblob.zip
py-functions-amazon/sentim-inference.zip
py-functions-amazon/sentim-preprocess.zip
py-functions-amazon/sentim-reduce.zip
py-functions-amazon/terraform.tfstate
py-functions-amazon/terraform.tfstate.backup
